* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
body {
  text-align: center;
  font-family: Arial, sans-serif;
}
body
{
    background: #116396;

h1 {
  margin: 20px 0;
}

.search-container {
  width: 400px;
    margin: 60px auto;
    padding: 10px;
}
.inputs 
{
    padding: 2rem 0 2rem 0;
    text-align: center;
    justify-content: center;
    background: white;
}
.inputs input[type="text"] 
{
    height: 4rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 2px;
    margin-right:4px ;
}
.inputs input[type="submit"] 
{
    height: 3rem;
    width: 6rem;
    background: #0a67ca;
    font-weight: bold;
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}

button {
  height: 38px;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  margin-left: 5px;
}


#error-message {
  color: red;
  margin-top: 10px;
} 
#weather-container{
 justify-content:center;
background:white;}
.weather-container {
  text-align: center;
    width: 400px;
    color: #16a864
background: white;

}
